body {
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 1.2rem;
    background-color: #FAC898;
    background-image: repeating-linear-gradient(223deg, rgba(255,255,255, 0.25), rgba(255,255,255, 0.25) 2px, transparent 0px, transparent 3px);
    padding: 30px;
}

.container {
    display: flex;
    justify-content: center;
}
  
.row {
    display: flex;
    flex-wrap: nowrap;
}

.col {
    line-height: 1.2;
    width: 10vw;
    height: 10vw;
    border: 1px solid teal;
    resize: both;
    overflow: auto;
    overflow-wrap: break-word;
}
