body {
    font-family: 'serif';
    font-size: 1.2rem;
    background-color: #fff;
    padding: 30px;
}

.canvas {
    display: flex;
    margin: auto auto;
}

.loomContainer {
    margin: auto auto;
    max-width: fit-content;
}
  
.row {
    display: flex;
    flex-wrap: nowrap;
}

.col {
    width: 10vw;
    height: 10vw;
    resize: both;
    overflow: hidden;
}

.col:focus-within {
    background-color: #d7d7d7;
}

.text {
    padding: 1px;
    line-height: 1.2;
    width: fit-content;
    height: fit-content;
    word-break: break-all;
}

.text:focus {
    outline: none;
}


::selection {
    background-color: black;
    color: #fff;
}

.selectedText {
    background-color: black;
    color: #fff;
}

.sliderContainer {
    display: flex;
    flex-direction: column;
    height:400px;
}

#sliderLabel {
    font-size: 2rem;
}

.sliderLabel1,.sliderLabel2,.sliderLabel3,.sliderLabel4 {
    height: 30px;
}

input[type=range]{
    -webkit-appearance:none;
    appearance: none;
    margin:1em 0;
    width:90%;
    height:0.5em;
}

input[type=range]::-webkit-slider-thumb{
    border:1px solid #050505;
    height:2em;
    width:2em;
    background:fixed;
    cursor: pointer;
    -webkit-appearance:none;
    margin-top:-0.5em;
    background: black;
    border-radius: 50px;
}

input[type=range]::-webkit-slider-runnable-track {
    background: rgb(0, 0, 0);
    width: 80%;
    height: 1em;
}
    

input[type=range]:focus::-webkit-slider-runnable-track {
    background: black;
}

@media print and (orientation:landscape) {
    .header{
        display:none;
    }
    .sliderContainer{
        display:none;
    }

    .toolitem {
        display: none;
    }

    .editingcontainer{
        margin:0;
        padding:0;
        overflow:visible;
        word-break:break-word;
        overflow:visible;
        width: 100%;
    }
}

.btn-float-left{
    float: left;	
}

.btn-float-right{
    float: right;
}
    